In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('D:\Events\VIL Codefest\secret\VIL Confidential Information Dataset\Train.csv')
test_df = pd.read_csv('D:\Events\VIL Codefest\secret\VIL Confidential Information Dataset\Test.csv')

In [3]:
train_df.head()

,Age,ARPU,Age on Network,Bill Payment Aggregator,Brand Identifier,Circle Name,Connection Type,DND Service,DND Status,Data Usage,...,Genre,ID,International Usage,OTT Content App,Pincode,Recharge,SMS Usage,VAS Subscription,Voice Usage,Web/App
0,24-28,0-50,24,NaN,Vodafone,Kolkata,Prepaid,N,NaN,10-15,...,Game Series,VFMUKOL38741,NaN,Yes,700040.0,501-1000,51-100,HOICHOI PARTNER PACK,501-750,Non_User
1,39-43,0-50,<3,NaN,Vodafone,Kolkata,Prepaid,N,NaN,<1,...,Marathi Drama,VFMUKOL54162,NaN,Yes,700038.0,101-300,1-25,NaN,751-1000,Non_User
2,29-33,101-200,>24,NaN,Idea,Delhi,Prepaid,NaN,ACTIVE_DND,10-15,...,Marathi Drama,IDKRDL59718,NaN,Yes,110053.0,101-200,1-25,NaN,>1000,Non_User
3,>58,>750,18-24,NaN,Vodafone,Mumbai,Prepaid,Y,NaN,>15,...,Game Series,VFMUKOL5295,Yes,Yes,410218.0,201-300,1-25,NaN,501-750,Non_User
4,>58,301-500,3-6,301-500,Vodafone,Kolkata,Postpaid,N,NaN,10-15,...,Marathi Drama,VFMUKOL60365,NaN,Yes,700091.0,NaN,26-50,HOICHOI PARTNER PACK,501-750,Non_User

In [4]:
train_df.isnull().sum()

Age                          2824
ARPU                            0
Age on Network               1361
Bill Payment Aggregator    100264
Brand Identifier                0
Circle Name                     0
Connection Type                 0
DND Service                 56393
DND Status                  56196
Data Usage                      0
Gender                       3288
Genre                           0
ID                              0
International Usage        107735
OTT Content App                 0
Pincode                      2535
Recharge                    27715
SMS Usage                       0
VAS Subscription            80286
Voice Usage                     0
Web/App                         0
dtype: int64

In [5]:
test_df.isnull().sum()

Age                         1175
ARPU                           0
Age on Network               585
Bill Payment Aggregator    43071
Brand Identifier               0
Circle Name                    0
Connection Type                0
DND Service                24191
DND Status                 24062
Data Usage                     0
Gender                      1421
Genre                          0
ID                             0
International Usage        46220
OTT Content App                0
Pincode                     1087
Recharge                   11743
SMS Usage                      0
VAS Subscription           34404
Voice Usage                    0
Web/App                        0
dtype: int64

In [16]:
train_df[train_df['Recharge'].isna()]['Recharge']

4         NaN
11        NaN
24        NaN
25        NaN
28        NaN
         ...
112565    NaN
112574    NaN
112582    NaN
112583    NaN
112588    NaN
Name: Recharge, Length: 27715, dtype: object